<% layout("/layouts/boilerplate")%>

  <body>
    <style>
      #filters {
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
        margin: 1rem;
        align-items: center;
        justify-content: center;
      }

      .filter {
        text-align: center;
        opacity: 0.8;
      }

      .filter:hover {
        opacity: 1;
        cursor: pointer;
      }

      .tax-info {
        display: none;
      }
      .tax-toggle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.2rem;
        padding: 1rem;
        align-self: flex-start;
        display: flex;
        align-items: center;
      }
    </style>

    <div id="filters">
      <div class="filter">
        <i class="fa-solid fa-fire"></i>
        <p>Trending</p>
      </div>

      <div class="filter">
        <i class="fa-solid fa-bed"></i>
        <p>Rooms</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-city"></i>
        <p>Cities</p>
      </div>

      <div class="filter">
        <i class="fa-solid fa-mountain"></i>
        <p>Mountains</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-place-of-worship"></i>
        <p>Castles</p>
      </div>

      <div class="filter">
        <i class="fa-solid fa-person-swimming"></i>
        <p>Pools</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-campground"></i>
        <p>Camping</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-cow"></i>
        <p>Farms</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-gopuram"></i>
        <p>Temples</p>
      </div>
      
      <div class="filter">
        <i class="fa-solid fa-snowflake"></i>
        <p>Arctic</p>
      </div>
      <div class="filter">
        <i class="fa-solid fa-ship"></i>
        <p>Boats </p>
      </div>
      <div class="tax-toggle">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
        </div>
      </div>
    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
          <div class="card col listing-card" style="width: 20rem;">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.title %>" style="height: 20rem;">
            <div class="card-body">
              <h5 class="card-title">
                <b>
                  <%= listing.title %>
                </b>
              </h5>
              <p class="card-text">
                <%= listing.title %> <br />
                  &#8377; <%= listing.price.toLocaleString("en-IN") %>
                    <i class="tax-info">&nbsp;+18% GST</i>
              </p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </a>
        <% } %>
    </div>

    <script>
      let taxSwitch = document.getElementById("flexSwitchCheckDefault");
      taxSwitch.addEventListener("click", () => {
        let taxInfo = document.getElementsByClassName("tax-info");
        for (info of taxInfo) {
          if (info.style.display != "inline") {
            info.style.display = "inline";
          } else {
            info.style.display = "none";
          }
        }
      });
    </script>
  </body>